@font-face {
    font-family: 'Digital Numbers Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Digital Numbers Regular'), url('../fonts/DigitalNumbers-Regular.woff') format('woff');
}

body {

}

#overlay {
    background: rgba(0,0,0,0.6);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    z-index: -99;
}

#overlay.show {
    opacity: 1;
    z-index: 99;
}

#settings button {
    background: #f4f4f4;
    border: 2px solid #3d3d3d;
}

#settings button.active {
    background: #5a5a5a;
    border: 2px solid #3d3d3d;
    color: #fff;
}

#settings .top-menu {
    position: absolute;
    top: 0;
    right: 0;
}

#settings .top-menu a {
    height: 25px;
    vertical-align: bottom;
}

a.close {
    width: 25px;
    line-height: 20px;
    border: 2px solid #000;
    border-radius: 100%;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    color: #000;
}

#menu a {
    background: #f4f4f4;
    border: 2px solid #3d3d3d;
    display: inline-block;
    max-width: 300px;
    text-align: center;
    padding: 5px;
    text-decoration: none;
    font-size: 21px;
    color: #000;
    width: 100%;
}

#game_wrapper {
    /*background: #eee;*/
    margin: 0 auto;
    position: relative;
}

#game {
    position: relative;
    z-index: 1;
}

#pad {
    cursor: crosshair;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

.node {
    border-radius: 100%;
    cursor: pointer;
    position: absolute;
    transform: translate(-50%, -50%);
    z-index: 999;
}

#game_menu {
    margin: 0 auto;
    padding: 50px;
}
#game_menu button {
    display: block;
    padding: 15px;
    margin: 0 auto 10px;
    max-width: 250px;
    width: 100%;
}
